*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* background-color:blueviolet; */
    height: 76px;
}

.header .logo a img{
    width: 170px;
    height: 62px;
    padding: 7px;
}

.navitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    text-decoration-style: none;
    margin: 0 60px 0 25px;
    list-style: none;
    padding: 0px 5px;
}

.navitems li{
    padding: 0 25px 0 25px;
    text-transform: uppercase;
    color: black;
}

.navitems li a{
    text-decoration: none;
    color: black;
}

.navitems li a:hover{
    color: #5F259F;
    cursor: pointer;
}


