*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing : border-box;
}
body{
    background-color: #000000; /*optional: remove this later*/
}
.navbar{
    height: 76px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    text-transform: uppercase;
}

.navbar .logo a img{
    width: 170px;
    margin-right: 50px;
}

.navbar .navtext{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    gap: 25px;
    height: 76px;
    font-size: 14px;
}
.navbar .navtext div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    height: 76px;
}


.navbar .navtext div span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    padding: 10px 5px ;
    margin: 25px;
    font-weight: 400;
}

.navbar .navtext div a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    padding: 0 5px;
    margin: 0 25px;
    text-decoration: none;
    color: black;
}

.navbar .navtext div:hover ,
.navbar .navtext div a:hover {
    color: #5F259F;
    cursor: pointer;
}

